* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1120px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

*:focus {
    outline: 2px dotted #0015ff;
    outline-offset: 3px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header a img:hover {
    color: #0EB4C1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

header a img:active {
    opacity: 0.6;
}

.header-items {
    display: flex;
    align-items: center;
}

.header-items li {
    list-style: none;
    margin-right: 32px;
}

.header-items li:last-child {
    margin-right: 0;
}

.header-items li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    transition: 0.3s ease;
}

.header-items li a:hover {
    color: #DE2E54;
}

.header-items li a:active {
    opacity: 0.6;
}

.main-link {
    display: inline-block;
    color: white;
    font-weight: 700;
    border-radius: 12px;
    padding: 12px 24px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #DE2E54;
    font-family: 'Open Sans', sans-serif;
}

header .main-link:hover {
    padding: 10px 22px;
    color: #DE2E54;
    background-color: #fff;
    border: 2px solid #DE2E54;
}

header .main-link:active {
    opacity: 0.6;
    background-color: #DE2E54;
    color: #fff;
}

.hero {
    display: flex;
    justify-content: space-between;
    height: 533px;
    background-color: #0EB4C1;
}

.hero-texts {
    padding-top: 120px;
    width: 500px;
}

.hero-texts a {
    transition: 0.2s ease;
}

.hero-texts a:hover {
    opacity: 0.8;
}

.hero-texts a:active {
    opacity: 0.6;
}

.hero-texts h1 {
    color: white;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 120%;
    margin-bottom: 16px;
}

.hero-texts p {
    color: aliceblue;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 150%;
    margin-bottom: 36px;
}

.hero-img {
    padding-top: 28px;
}

.services {
    margin-top: 120px;
}

.background-item {
    background-color: #0EB4C1;
}

.services h2 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 56px;
}

.services ul {
    display: flex;
    flex-direction: column;
}

.services ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 98px;
    width: 864px;
    height: 200px;
    margin-bottom: 80px;
}

.services ul li:last-child {
    margin-bottom: 60px;
}

.services ul li img {
    border-radius: 24px;
    box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
}

.service-text {
    margin-left: 64px;
}

.service-text h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 24px;
}

.service-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #444444;
}

.services .link-item {
    display: flex;
    justify-content: center;
}

.link-item a:hover {
    padding: 10px 22px;
    color: #DE2E54;
    background-color: #fff;
    border: 2px solid #DE2E54;
}

.link-item a:active {
    opacity: 0.6;
    background-color: #DE2E54;
    color: #fff;
}

.registration {
    margin-top: 120px;
    height: 260px;
    background-color: #0EB4C1;
}

.registration .container h2 {
    color: white; 
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    margin-top: 60px;
}

.registration .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-link a {
    margin-right: 40px;
    margin-top: 35px;
}

.registration-link a:last-child {
    margin-right: 0;
}

.registration-link a {
    transition: 0.2s ease;
}

.registration-link a:hover {
    background-color: #DE2E54;
    border: 2px solid #DE2E54;
}

.registration-link a:active {
    opacity: 0.6;
}

.registration a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid white;
    padding: 12px 24px;
    border-radius: 12px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    height: 100px;
}

.footer-background {
    background-color: #222;
}

footer a {
    transition: 0.2s ease;
}

footer a:hover {
    opacity: 0.8;
}

footer a:active {
    opacity: 0.6;
}


footer ul {
    display: flex;
    align-items: center;
}

footer ul li {
    list-style: none;
    margin-right: 32px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    transition: 0.2s ease;
}

footer ul li a:hover {
    color: #DE2E54;
}

footer ul li a:active {
    opacity: 0.6;
    color: #fff;
}

@media only screen and (max-width: 512px){
    header img {
        transform: scale(0.8);
        padding: 0;
        margin: 0;
    }
    .header-items {
        display: none;
        width: 100%;
    }
    header .main-link {
        display: none;
    }
    .hero {
        background: none;
    }
    .hero-img {
        display: none;
    }
    .hero-texts{
        padding: 1rem 0;
    }
    .hero-texts h1 {
        font-size: 1.5rem;
    }
    .hero-texts p {
        font-size: 0.75rem;
    }
    .background-item {
        width: 100%;
        height: 20rem;
    }
    .services {
        margin-top: 0;
    }
    .services img {
        display: none;
    }
    .service-text {
        width: 100%;
        float: right;
        margin-left: 0px;
        padding-left: 0px;
    }
    .services ul li {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .registration .container h2 {
        font-size: 1.75rem;
        text-align: center;
    }
    .registration-link a {
        font-size: 0.75rem;
        text-align: center;
    }
    footer ul {
        display: none;
    }
}